@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

* {
  font-family: "Noto Sans Thai", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
}
