@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

* {
  font-family: "Noto Sans Thai", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.carousel-img {
  margin: 0 auto;
  height: 500px;
  object-fit: cover;
}

.prevArrow {
  background-image: url("./assets/arrow-left.svg");
}